a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;

}

nav{
    background: grey;
}

.list{
    padding: 1.2rem;

    a{
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0px 0px 0px 20px;
        padding: .3rem;
        span{
            color: white;
        }
    }

    a:hover{
        color: white;
        span{
            color: black;
        }
    }
}

.container{
    margin: 0 3rem;
}

.container_form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

    h3{
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}

.form{
    border-radius: 15%;
    border: black solid 2px;
    width: fit-content;
    margin: 0 auto;

    div{
        display: flex;
        justify-content: space-between;
        margin: 1rem;

        label{
            margin-right: .5rem;
        }
    }

    div:last-of-type{
        justify-content: center;
        margin-top: 2rem;
    }
}

.sked{
    margin-bottom: 5rem;
    .U{
    color: gray;
    }
}

#escala{
    margin: 0 auto;
    tr{
        th{
            padding: .5rem;
        }
    }
}

.table_container{
    
    margin: 2rem;
}

.nome{
    display: none;
}

th:hover .nome{
    display: block;
    width: 60px;
    margin: 0 auto;
}

#download_csv{
    margin: 0 auto;
}